@using Heimdallr.WebUI.Common.Constants

@rendermode InteractiveServer

<label for="@ElementIds.AuthPasswordId">Password</label>
<div class="flex flex-row gap-0">
    <input id="@ElementIds.AuthPasswordId" class="border border-red-200 px-3 py-2 flex-1"
           type="@PasswordInputType.ToString().ToLower()"
           @bind="@Value"
           @bind:event="oninput"/>
    <button class="bg-red-200  border border-red-200 text-gray-900 p-2 hover:cursor-pointer"
            @onclick="ShowPassword">
        See
    </button>
</div>