@page "/auth"
@using Heimdallr.Application.Common.Interfaces.Contracts
@using Heimdallr.Application.Contracts.Users.Commands.Login
@layout AuthorizationLayout
@inject ICommandHandler<LoginCommand> Authorize

<input class="bg-black text-white" type="text" @bind="Login"/>
<input class="bg-black text-white" type="password" @bind="Password"/>
<button class="bg-black text-white" @onclick="Submit">Отправить</button>

@code {
    private string Login { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;
    
    private string ErrorMessage { get; set; } = string.Empty;
    private bool IsErrorShown { get; set; }
    private bool IsAuthorizedShown { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private void CloseError()
    {
        IsErrorShown = false;
    }
    
    private async Task Submit()
    {
        using var source = new CancellationTokenSource(TimeSpan.FromSeconds(30));
        
        IsErrorShown = false;
        ErrorMessage = string.Empty;
        
        
        var authResult = await Authorize.Handle(new LoginCommand(Login, Password), source.Token);

        IsAuthorizedShown = authResult.IsSuccess;
        
        IsErrorShown = authResult.IsFailure;

        if (IsErrorShown)
        {
            ErrorMessage = authResult.Error.Description;
        }
    }
}